.section4{
    background: url('../../public/img/skin-2-image-3.jpg');
    background-position: center;
    background-attachment: fixed;
    padding-top: 107px;
    padding-bottom: 107px;

    background-size: cover;
}
.eachColNo{
    border-bottom:3px dotted white;
}
 .section4Row{
    /* background: url('../../public/img/skin-2-image-3.jpg'); */
    /* background-color: rgba(0,0,0,0.4);

   */
   background: inherit;
    box-shadow: inset 0 0 0 237px rgba(255,255,255,.2);
    border-radius: 9px;
} 


.section4Col{
    padding:34px;
}
.borderLeft{
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}

.borderRight{
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
}
